body {
  font-family: "Work Sans", sans-serif;
}

.titulo {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  main {
    left: 0;
    bottom: 100px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
  }

  .titulo {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  #titulo-texto {
    font-size: 40px;
    padding: 0 0 0 35px;
    position: relative;
    left: 18px;
  }

  .perguntas {
    padding: 10px 20px;
  }

  .resposta {
    margin-left: 20px;
    padding: 10px 20px;
  }

  main #img-titulo {
    width: 35px; 
    padding: 0;
    margin: 0;
    position: relative;
    left: 18px;
  }
}

@media (max-width: 768px) {
  .fundo {
    background-size: cover;
  }

  main {
    left: 0;
    bottom: 50px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
  }

  .titulo {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  #titulo-texto {
    font-size: 30px;
    padding: 0 0 0 15px;
    position: relative;
    left: 18px;
  }

  .perguntas h1 {
    font-size: 18px;
  }

  .resposta {
    font-size: 14px;
  }

  main #img-titulo {
    width: 25px; 
    padding: 0;
    margin: 0;
    position: relative;
    left: 18px;
  }
}

@media (max-width: 480px) {
  .fundo {
    background-size: cover;
  }

  main {
    left: 0;
    bottom: 20px;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
  }

  .titulo {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  #titulo-texto {
    font-size: 24px;
    padding: 0 0 0 15px;
    position: relative;
    left: 18px;
  }

  .perguntas h1 {
    font-size: 16px;
  }

  .resposta {
    font-size: 12px;
  }

  main #img-titulo {
    width: 25px; 
    padding: 0;
    margin: 0;
    position: relative;
    left: 18px;
  }
}

@media (max-width: 375px) {
  .fundo {
    background-size: cover;
  }

  main {
    left: 0;
    bottom: 10px;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
  }

  .titulo {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  #titulo-texto {
    font-size: 20px;
    padding: 0 0 0 15px;
    position: relative;
    left: 18px;
  }

  .perguntas h1 {
    font-size: 14px;
  }

  .resposta {
    font-size: 10px;
  }

  main #img-titulo {
    width: 20px; 
    padding: 0;
    margin: 0;
    position: relative;
    left: 18px;
  }
}

@media (max-width: 320px) {
  .fundo {
    background-size: cover;
  }

  main {
    left: 0;
    bottom: 5px;
    padding: 5px;
    width: 100%;
    margin: 0 auto;
  }

  .titulo {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  #titulo-texto {
    font-size: 18px;
    padding: 0 0 0 15px;
    position: relative;
    left: 18px;
  }

  .perguntas h1 {
    font-size: 12px;
  }

  .resposta {
    font-size: 8px;
  }

  main #img-titulo {
    width: 20px; 
    padding: 0;
    margin: 0;
    position: relative;
    left: 18px;
  }
}